{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var upload_url = "{{=URL('api', 'upload_form')}}";
  var get_fields_url = "{{=URL('api', 'get_fields')}}";
  var start_clustering_url = "{{=URL('api', 'start_clustering')}}";
</script>

<script src="{{=URL('static', 'js/dropzone.js')}}"></script>

<script>
// function produce_upload_url (files) {
//     return APP.upload_url; 
// }

$(function() {
  Dropzone.options.fileUploader = {
    maxFilesize: 10, // MB
    url: upload_url,
    addRemoveLinks: true,
    parallelUploads: 1,
    acceptedFiles: '.csv', //FIXME, change to .csv
    createImageThumbnails: false,
    init: function() {
      this.on("queuecomplete", function() {
      });
    }
  }
});

</script>
{{end}}

<div class="main_content">
  <div id="vue-div">
    <div id="upload_div" v-if="page == 'upload'"> 
    <!--  v-if="show_upload()" -->
      <h3>Welcome to ClusterSolver!. Please input a .csv file to perform clustering on! Please use commas to separate the values and not spaces!</h3><br>

      <div id="uploader_div">
        <form action="" class="dropzone dz-clickable" id="file-uploader">
          <div class="dz-message">
            Drop files here to upload them, or click to select them.
          </div>
        </form>
        <button class="btn btn-warning btn-sm" v-on:click="upload_button_clicked()">Upload</button>

      </div>      



      <!--{{=form}}

      {{if upload_flag:}}
        <div v-if="change_page('setting')"></div>
      {{pass}}

      <div class="cluster_settings" v-if="page == 'settings'">
        inside the settings page

      </div> -->

    </div>
    <div id="settings_div" v-if="page == 'settings'"> 
    Please chose <b>one</b> field that you want to focus on.
      <div class="fields" v-for="f in fields">
        <input type='checkbox' v-on:click="push_field(f)">
        ${f}
      </div>
        
        <br>
        Please input the number of clusters you would like:
        <textarea class="form-control string" size="20" v-model="input_k" placeholder="# of Clusters" type="text"></textarea>
      <button class="btn btn-warning btn-sm" v-on:click="continue_button_clicked()">Continue to Clustering</button>
      <div class="error_message" v-if="is_error">
        ${ err_message }
      </div>
    </div>

    <div id="clustering_div" v-if="page == 'clustering'">



    </div>


  </div>

</div>


<!-- for uploading using SQLFORM -->
<!--     <div id="uploader_div">
      <form action="/random" class="dropzone dz-clickable" id="file-uploader">
        <div class="dz-message">
          Drop files here to upload them, or click to select them.
        </div>
      </form>
    </div>
 -->

<!-- <div class="main_content">

  <form action="/file-upload"
        class="dropzone"
        id="uploader-div"></form>

  <div id="vue-div">
  </div>



</div>
 -->
<script src="{{=URL('static', 'js/default_index.js')}}"></script>

