{{extend 'layout.html'}}

{{block head}}
<!-- MDL PACKAGES -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- FIXME: this should not be needed, but it is VVV -->
<script src="{{=URL('static', 'js/gchart.js')}}"></script>

<script>
  var check_login_url = "{{=URL('api', 'check_login')}}";
  var upload_url = "{{=URL('default', 'upload_form')}}";
  var get_fields_url = "{{=URL('api', 'get_fields')}}";
  var start_clustering_url = "{{=URL('api', 'start_clustering')}}";
  var add_to_profile_url = "{{=URL('api', 'add_to_profile')}}";
  var get_graphs_url = "{{=URL('api', 'get_graphs')}}";
</script>

<script src="{{=URL('static', 'js/dropzone.js')}}"></script>

<script>
$(function() {
  Dropzone.options.fileUploader = {
    maxFilesize: 10, // MB
    url: upload_url,
    addRemoveLinks: true,
    parallelUploads: 1,
    acceptedFiles: '.csv', 
    createImageThumbnails: false,
    init: function() {
      this.on("queuecomplete", function() {
      });
    }
  }
});

</script>

{{end}}
<body>

<div class="main_content">

  <div id="chart_div_1" style="width: 900px; height: 500px;"></div>
  <div id="chart_div_2" style="width: 900px; height: 500px;"></div>
  <div id="chart_div_3" style="width: 900px; height: 500px;"></div>
  <div id="chart_div_4" style="width: 900px; height: 500px;"></div>
  <div id="chart_div_5" style="width: 900px; height: 500px;"></div>

<div id="vue-div">

  <div class="home" v-if="page == 'home'">
    <div class="section splash-box">
      <div class="section-inner">
        <center><img id="clustersolver-logo" src="/ClusterSolver/static/images/clustersolver_logo_small.png"></center>
        <div class="spash-text alone">
        <!-- FIXME: css styling is not working -->
          <center><h1>Easy Clustering for any data</h1></center>
        <div id="index_btns">
          <center><button class="btn btn-warning" v-on:click="change_page('upload')"><i class="fa fa-upload"></i>Upload</button></center><br>
          <center><button class="btn btn-success btn" v-on:click="show_news_feed()">View News Feed</button></center>
        </div>
        </div>
      </div>
    </div>
    <div class="section steps">
    <h2>Clustering in 4 easy steps</h2>

    <ul class="steps-list-icon mdl-list">
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons">import_export</i>
        
        <div class="step_text">

        Upload .csv file
        </div>
    </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons">settings</i>
        <div class="step_text">

        Choose parameters and settings for clusterings
        </div>
      </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons">equalizer</i>
        <div class="step_text">
        View clusters and insert new data
        </div>
      </span>
      </li>  
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons">library_add</i>
        <div class="step_text">
          Add to your personal collection
        </div>
      </span>
      </li>
    </ul>
    </div>
  </div>





  <!-- test1@gmail.com ,test -->
<!--     <div v-if="!logged_in"><h3>Hi, Welcome to ClusterSolver. Please log in at the top right to start!</h3></div>
    <div v-if="logged_in">
 -->      
      <!-- FIXME: problem with logging in and using dropzone -->
      <div id="upload_div" v-if="page == 'upload'"> 
      Please upload a .csv file!

        <div id="uploader_div">
          <form action="/index" class="dropzone dz-clickable" id="file-uploader">
            <div class="dz-message">
              Drop files here to upload them, or click to select them.
            </div>
          </form>
          <div v-if="logged_in">
            <button class="btn btn-warning btn-sm" v-on:click="upload_button_clicked()">Upload</button>
          </div>
          <div v-if="!logged_in">
            <button class="btn btn-warning btn-sm disabled">Upload</button><br>
            Please log in to start!          
          </div>
        </div>      




      </div>
      <div id="settings_div" v-if="page == 'settings'"> 
      Please chose <b>one</b> field that you want to focus on.
        <div class="fields" v-for="f in fields">
          <input type='checkbox' v-on:click="push_field(f)">
          ${f}
        </div>
          
          <br>
          Please input the number of clusters you would like:
          <br>
          <textarea class="small_area" v-model="input_k" placeholder="# of Clusters" type="text"></textarea>
          <br>
          Please input an lower bound for X:
          <br>
          <textarea class="small_area" v-model="x_lower" placeholder="X Lower Bound" type="text"></textarea>
          <br>
          Please input an upper bound for X:
          <br>
          <textarea class="small_area" v-model="x_upper" placeholder="X Upper Bound" type="text"></textarea>
          <br>
          Please input an lower bound for Y:
          <br>
          <textarea class="small_area" v-model="y_lower" placeholder="Y Lower Bound" type="text"></textarea>
          <br>
          Please input an upper bound for Y:
          <br>
          <textarea class="small_area" v-model="y_upper" placeholder="Y Upper Bound" type="text"></textarea>
          <br>
          Please select the # of iterations you want to run:
          <br>
          <textarea class="small_area" v-model="num_iters" placeholder="# of Iterations" type="text"></textarea>
          <br>
          <!-- Add a parameter to let the user chose how much they want to depend on the field they have chosen -->


        <button class="btn btn-warning btn-sm" v-on:click="continue_button_clicked()">Continue to Clustering</button>
        <div class="error_message" v-if="is_error">
          ${ err_message }
        </div>
      </div>

      <div id="clustering_div" v-if="page=='clustering'">
        <div id="new_data">
          Feel free to add more points to predict on: <br>
          <div v-for="i in f_index">
            ${fields[i]}: <br>
            <textarea class="input_area" v-model="new_data[fields[i]]" type="text"></textarea> 
          </div>
          <button class="btn btn-warning btn-sm" v-on:click="insert_point()">Insert and Classify Point</button><br>
          <button class="btn btn-success btn-sm" v-on:click="add_to_profile()">Add to Profile</button><br>
        </div>
      </div>

      <div id="profile_div" v-if="page=='profile'">
        Here is a list of your most recent plots:<br>
        Select <b>one</b> plot you would like to view again:<br>
        <button class="btn btn-warning btn-sm" v-on:click="view_plot()">View Plot</button><br>
        <button class="btn btn-success btn-sm" v-on:click="change_page('upload')">Back to Upload</button><br>

      </div>

    <!-- VVV comment out this div -->
<!--     </div>
 -->  </div>
</div>
</body>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

