{{extend 'layout.html'}}

{{block head}}
<!-- MDL PACKAGES -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- FIXME: this should not be needed, but it is VVV -->
<script src="{{=URL('static', 'js/gchart.js')}}"></script>

<script>
  var check_login_url = "{{=URL('api', 'check_login')}}";
  var upload_url = "{{=URL('default', 'upload_form')}}";
  var get_fields_url = "{{=URL('api', 'get_fields')}}";
  var preprocess_data_url = "{{=URL('api', 'preprocess_data')}}";
  var start_clustering_url = "{{=URL('api', 'start_clustering')}}";
  var add_to_feed_url = "{{=URL('api', 'add_to_feed')}}";
  var get_graphs_url = "{{=URL('api', 'get_graphs')}}";
</script>

<script src="{{=URL('static', 'js/dropzone.js')}}"></script>

<script>
$(function() {
  Dropzone.options.fileUploader = {
    maxFilesize: 10, // MB
    url: upload_url,
    addRemoveLinks: true,
    parallelUploads: 1,
    acceptedFiles: '.csv', 
    createImageThumbnails: false,
    init: function() {
      this.on("processing", function(file) { 
        this.options.autoProcessQueue = true;
      });
    }
  }
});

</script>

{{end}}
<body>

<div class="main_content">

  <div id="chart_div_1" style="width: 1150px; height: 600px;"></div>
  <div id="chart_div_2" style="width: 1150px; height: 600px;"></div>
  <div id="chart_div_3" style="width: 1150px; height: 600px;"></div>
  <div id="chart_div_4" style="width: 1150px; height: 600px;"></div>
  <div id="chart_div_5" style="width: 1150px; height: 600px;"></div>

<div id="vue-div">

  <div class="home" v-if="page == 'home'">

    <div class="section splash-box">
      <div class="section-inner">
        <center><img id="clustersolver-logo" src="/ClusterSolver/static/images/clustersolver_logo_small.png"></center>
        <div class="spash-text alone">
          <center><h2>Easy Clustering for any data</h2></center>
        <div id="index_btns">
          <!-- FIXME: change buttons to MDL designs -->
          <center><button v-if="!home_upload_btn" class="btn btn-warning" v-on:click="home_upload_btn_clicked()">Upload</button></center><br>
          <center><button v-if="home_upload_btn" class="btn btn-warning" v-on:click="home_upload_btn_clicked()">Quit Upload</button></center><br>

          <!-- FIXME: dropzone doesn't work after the first upload -->
          <div id="uploader_div" v-bind:class="{ 'hidden' : !home_upload_btn }">
            <form action="" class="dropzone dz-clickable" id="file-uploader">
            <div class="dz-message">
              Drop a .csv file here for upload, or click here to select them.
            </div>
            </form>
            <div v-if="logged_in">
              <button class="btn btn-warning btn-sm" v-on:click="upload_button_clicked()">Import</button>
            </div>
          </div>
          <center><button class="btn btn-success btn" v-on:click="create_news_feed()">View News Feed</button></center>
        </div>
        </div>
      </div>
    </div>

    <div class="section steps">
      <h3>Clustering in 4 easy steps</h3>
      <ul class="steps-list-icon mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          <i class="material-icons">import_export</i>
          <div class="step_text">
          Upload .csv file
          </div>
      </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          <i class="material-icons">settings</i>
          <div class="step_text">
          Choose parameters and settings for clusterings
          </div>
        </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          <i class="material-icons">equalizer</i>
          <div class="step_text">
          View clusters and insert new data
          </div>
        </span>
        </li>  
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          <i class="material-icons">library_add</i>
          <div class="step_text">
            Add to the news feed.
          </div>
        </span>
        </li>
      </ul>

    </div>

<!--     <input id="slider3" class="mdl-slider mdl-js-slider" type="range"  
         min="0" max="100" tabindex="0" step="2" 
         v-model="slider_val">
   <div class="mdl-tooltip" data-mdl-for="slider3">${slider_val}</div>
    <div>${ slider_val }</div> -->
  
  </div>
  

  <div id="settings_div" v-if="page == 'settings'"> 
  <button class="btn btn-warning btn-sm" v-on:click="back_to_home()">Back to Home</button><br><br>

  Please chose <b>one</b> field that you want to focus on.
    <div class="row">
      <div class="col-md-4">
        <div class="fields " v-for="f in fields">
          <input type='checkbox' v-on:click="push_field(f)">
          ${f}
        </div>
        <br>
        <button class="btn btn-success btn-sm" v-if="!more_settings_btn" v-on:click="more_settings_btn_clicked()">More Settings</button>
      </div>
      <div class="col-md-4 description">Please choose the field that you would like to focus on for this graph. The field that you choose will help the algorithm figure resolve the most important clusters.</div>
    </div>

    <!-- Let the user choose between advanced and default settings -->
    <div class="more_settings" v-if="more_settings_btn">
      <div class="row">
        <br>
        # of Clusters: ${ input_k }
        <br>
        <div class="col-md-4">
          <p style="width: 300px;">
            <input id="slider3" class="mdl-slider mdl-js-slider col-md-6" type="range"  
             min="0" max="50" tabindex="0" step="1" 
             v-model="input_k">
          </p>
        </div>
        <div class="col-md-4 description">This parameter is the number of clusters you want to see in the output graph.</div>
<!--       <div class="mdl-tooltip" data-mdl-for="slider3">${slider_val}</div>
 -->      
      </div>
  
      <div class="row">    
        <br>
        Upper bound for X: ${ x_upper }
        <br>
        <div class="col-md-4">
          <p style="width: 300px;">
            <input id="slider3" class="mdl-slider mdl-js-slider"  type="range"  
             min="0" max="100" tabindex="0" step="1" 
             v-model="x_upper">
          </p>
        </div>
        <div class="col-md-4 description">This parameter is upper limit of the X-axis in the output graph.</div>
      </div>
  <!--       <div class="mdl-tooltip" data-mdl-for="slider3">${slider_val}</div>
   -->
    <div class="row">
      <br>
      Upper bound for Y: ${ y_upper }
      <br>
      <div class="col-md-4">
        <p style="width: 300px;">
          <input id="slider3" class="mdl-slider mdl-js-slider col-md-6" type="range"  
           min="0" max="100" tabindex="0" step="1" 
           v-model="y_upper">
        </p>
      </div>
      <div class="col-md-4 description">This parameter is upper limit of the Y-axis in the output graph.</div>
    </div>

  <!--       <div class="mdl-tooltip" data-mdl-for="slider3">${slider_val}</div>
   -->      
    <div class="row">
      <br>
      # of iterations: ${ num_iters }
      <br>
      <div class="col-md-4">
        <p style="width: 300px;">
          <input id="slider3" class="mdl-slider mdl-js-slider col-md-6" type="range"  
           min="0" max="500" tabindex="0" step="1" 
           v-model="num_iters">
        </p>
      </div>
      <div class="col-md-4 description">This parameter is maximum number of iterations you would like the clustering algorithm to run. Think of it as the amount of time you want to give the algorithm to run,</div>
    </div>

  <!--       <div class="mdl-tooltip" data-mdl-for="slider3">${slider_val}</div>
  -->

    <div class="row">
      <br>
      New Cluster Parameter: ${ new_clust_param }
      <br>
      <div class="col-md-4">
      <p style="width: 300px;">

        <input id="slider3" class="mdl-slider mdl-js-slider col-md-6" type="range"  
           min="0" max="500" tabindex="0" step="1" 
           v-model="new_clust_param">
      </p>
      </div>
      <div class="col-md-4 description">This parameter is the offset you want to tolerate when inserting new points into the graph. If the difference between the inserted point and the already defined points is too different, then a new cluster will be started.</div>
    </div>
  <!--       <div class="mdl-tooltip" data-mdl-for="slider3">${slider_val}</div>
  -->
      <!-- FIXME: Add a parameter to let the user chose how much they want to depend on the field they have chosen -->


      <button class="btn btn-warning btn-sm" v-on:click="continue_button_clicked()">Continue to Clustering</button>
      <br>

      <!-- FIXME: this is obsolete :/ -->
      <div class="error_message" v-if="is_error">
        ${ err_message }
      </div>
    </div>


  </div>

      <div id="clustering_div" v-if="page=='clustering'">
        <div id="new_data" v-if="insert_more_btn">
          <h5>Insert more points to be classified</h5><br>
          <div v-for="i in f_index">
            ${fields[i]}: <br>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="fields[i]" v-model="new_data[fields[i]]">
                <!-- FIXME: would really like to get this label working VVV -->
<!--                 <label class="mdl-textfield__label" for="fields[i]">${fields[i]}</label>
 -->              </div>
<!--             <textarea class="input_area" v-model="new_data[fields[i]]" type="text"></textarea> 
 -->          </div>
          <button class="btn btn-warning btn-sm" v-on:click="insert_point()">Insert</button><br>
        </div>
          <button class="btn btn-warning btn-sm" v-on:click="insert_more_btn_clicked()" v-if="!insert_more_btn">Insert and Classify Point</button><br>
          <br><button class="btn btn-success btn-sm" v-on:click="add_to_feed()">Add to Feed</button><br>
      </div>

      <div id="feed_div" v-if="page=='feed'">
        <button class="btn btn-success btn-sm" v-on:click="back_to_home()">Back to Home</button><br>

      </div>


  </div>
</div>
</body>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<!-- FIXME:
      1. back btns for each page - clustering page home, news feed home
      2. try improving the news feed- show publisher and be able to edit/insert -->